        * {
            margin: 0;
            padding: 0;
        }

        .bg {
            background-color: gray;
            height: 100vh;
            transition: 1s;
        }

        .bg p {
            position: absolute;
            line-height: 100vh;
            top: 0;
            left: 0;
            width: 100%;
            text-align: center;
            opacity: 0;
            font-size: 30px;
            transition: 1s;
        }

        .circle {
            border-radius: 50%;
            height: 25px;
            width: 25px;
            border: 2px solid white;
            position: absolute;
            z-index: 1;
        }

        div.red {
            top: 3%;
            left: 3%;
            background-color: red;
        }

        div.green {
            bottom: 3%;
            left: 3%;
            background-color: green;
        }

        div.blue {
            top: 3%;
            right: 3%;
            background-color: blue;
        }

        div.orange {
            bottom: 3%;
            right: 3%;
            background-color: orange;
        }

        div.red:hover ~ div.bg {
            background-color: red;
        }

        div.green:hover ~ div.bg {
            background-color: green;
        }

        div.blue:hover ~ div.bg {
            background-color: blue;
        }

        div.orange:hover ~ div.bg {
            background-color: orange;
        }

        div.red:hover~div.bg p.red,
        div.green:hover~div.bg p.green,
        div.blue:hover~div.bg p.blue,
        div.orange:hover~div.bg p.orange {
            opacity: 1;
        }
